Repository RoboTeamTwente/roboteam_ai, pull requests merged in 2020-04, with the labels that each got.

#994 Fixed publish robot command issue, first limit, then rotate.
  src/stp/Skill.cpp
Labels: Play, bug

#995 Demo transition
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallMovesFastInvariant.h
  include/roboteam_ai/stp/invariants/BallMovesSlowInvariant.h
  include/roboteam_ai/stp/new_constants/ControlConstants.h
  src/ApplicationManager.cpp
  src/stp/Play.cpp
  src/stp/invariants/BallMovesFastInvariant.cpp
  src/stp/invariants/BallMovesSlowInvariant.cpp
  src/stp/new_constants/ControlConstants.cpp
  src/stp/new_plays/AggressiveFormation.cpp
  src/stp/new_plays/Halt.cpp
  src/stp/new_plays/Pass.cpp
Labels: Play

#1002 Feature/stp get ball in direction
  CMakeLists.txt
  include/roboteam_ai/stp/new_constants/ControlConstants.h
  include/roboteam_ai/stp/new_tactics/GetBall.h
  include/roboteam_ai/stp/new_tactics/GetBallInDirection.h
  src/stp/new_constants/ControlConstants.cpp
  src/stp/new_tactics/GetBall.cpp
  src/stp/new_tactics/GetBallInDirection.cpp
Labels: Tactic

#1022 Ball on our side invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallOnOurSideInvariant.h
  src/stp/invariants/BallOnOurSideInvariant.cpp
Labels: Invariant

#1035 Implemented distance from ball invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/DistanceFromBallInvariant.h
  include/roboteam_ai/stp/new_constants/ControlConstants.h
  src/stp/invariants/DistanceFromBallInvariant.cpp
  src/stp/new_constants/ControlConstants.cpp
Labels: Invariant

#1021 Ball placement game state invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallPlacementThemGameStateInvariant.h
  include/roboteam_ai/stp/invariants/BallPlacementUsGameStateInvariant.h
  src/stp/invariants/BallPlacementThemGameStateInvariant.cpp
  src/stp/invariants/BallPlacementUsGameStateInvariant.cpp
Labels: Invariant

#1023 Ball is close to us invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallCloseToUsInvariant.h
  src/stp/invariants/BallCloseToUsInvariant.cpp
  src/stp/new_constants/ControlConstants.cpp
  src/stp/new_plays/Pass.cpp
Labels: Invariant

#1038 Freedom of our robots invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/FreedomOfRobotsInvariant.h
  include/roboteam_ai/stp/new_constants/ControlConstants.h
  src/stp/invariants/FreedomOfRobotsInvariant.cpp
  src/stp/new_constants/ControlConstants.cpp
Labels: Invariant

#1051 Feature/stp ball free invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallIsFreeInvariant.h
  src/stp/invariants/BallIsFreeInvariant.cpp
Labels: Invariant

#1052 Implemented goal vision invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/GoalVisionInvariant.h
  src/stp/invariants/GoalVisionInvariant.cpp
Labels: Invariant

#1059 Feature/stp gamestate invariants
  CMakeLists.txt
  include/roboteam_ai/interface/api/Output.h
  include/roboteam_ai/stp/invariants/game_states/BallPlacementThemGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/BallPlacementUsGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/FreeKickThemGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/FreeKickUsGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/HaltGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/KickOffThemGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/KickOffThemPrepareGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/KickOffUsGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/KickOffUsPrepareGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/NormalPlayGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/PenaltyThemGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/PenaltyThemPrepareGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/PenaltyUsGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/PenaltyUsPrepareGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/StopGameStateInvariant.h
  include/roboteam_ai/stp/invariants/game_states/TimeOutGameStateInvariant.h
  include/roboteam_ai/utilities/GameState.h
  include/roboteam_ai/utilities/RefGameState.h
  include/roboteam_ai/utilities/StrategyManager.h
  src/interface/api/Output.cpp
  src/stp/invariants/game_states/BallPlacementThemGameStateInvariant.cpp
  src/stp/invariants/game_states/BallPlacementUsGameStateInvariant.cpp
  src/stp/invariants/game_states/FreeKickThemGameStateInvariant.cpp
  src/stp/invariants/game_states/FreeKickUsGameStateInvariant.cpp
  src/stp/invariants/game_states/HaltGameStateInvariant.cpp
  src/stp/invariants/game_states/KickOffThemGameStateInvariant.cpp
  src/stp/invariants/game_states/KickOffThemPrepareGameStateInvariant.cpp
  src/stp/invariants/game_states/KickOffUsGameStateInvariant.cpp
  src/stp/invariants/game_states/KickOffUsPrepareGameStateInvariant.cpp
  src/stp/invariants/game_states/NormalPlayGameStateInvariant.cpp
  src/stp/invariants/game_states/PenaltyThemGameStateInvariant.cpp
  src/stp/invariants/game_states/PenaltyThemPrepareGameStateInvariant.cpp
  src/stp/invariants/game_states/PenaltyUsGameStateInvariant.cpp
  src/stp/invariants/game_states/PenaltyUsPrepareGameStateInvariant.cpp
  src/stp/invariants/game_states/StopGameStateInvariant.cpp
  src/stp/invariants/game_states/TimeOutGameStateInvariant.cpp
  src/stp/new_plays/BallPlacement.cpp
  src/stp/new_plays/Halt.cpp
  src/utilities/RefGameState.cpp
  test/UtilTests/RefereeTest.cpp
Labels: Invariant, Work in progress

#1062 Stp halt play
  src/stp/new_plays/Halt.cpp
Labels: Play
