Repository RoboTeamTwente/roboteam_ai, pull requests merged in 2020-07, with the labels that each got.

#1155 Working on knowledge transfer
  wiki/Ball.md
  wiki/Robot.md
  wiki/Views.md
  wiki/World.md
  wiki/WorldData.md
Labels: Ready for review

#1171 Refactored skills
  CMakeLists.txt
  include/roboteam_ai/stp/skills/Chip.h
  include/roboteam_ai/stp/skills/GoToPos.h
  include/roboteam_ai/stp/skills/Kick.h
  include/roboteam_ai/stp/skills/Rotate.h
  include/roboteam_ai/stp/skills/Shoot.h
  src/control/ControlUtils.cpp
  src/stp/Skill.cpp
  src/stp/new_skills/Shoot.cpp
  src/stp/new_tactics/AvoidBall.cpp
  src/stp/new_tactics/BlockBall.cpp
  src/stp/new_tactics/BlockRobot.cpp
  src/stp/new_tactics/ChipAtPos.cpp
  src/stp/new_tactics/DriveWithBall.cpp
  src/stp/new_tactics/Formation.cpp
  src/stp/new_tactics/GetBall.cpp
  src/stp/new_tactics/GetBallInDirection.cpp
  src/stp/new_tactics/Halt.cpp
  src/stp/new_tactics/Intercept.cpp
  src/stp/new_tactics/KeeperBlockBall.cpp
  src/stp/new_tactics/KickAtPos.cpp
  src/stp/new_tactics/PositionAndAim.cpp
  src/stp/new_tactics/Receive.cpp
  src/stp/new_tactics/ShootAtPos.cpp
  src/stp/new_tactics/TestTactic.cpp
  src/stp/skills/Chip.cpp
  src/stp/skills/GoToPos.cpp
  src/stp/skills/Kick.cpp
  src/stp/skills/Rotate.cpp
  src/stp/skills/Shoot.cpp
Labels: Skill

#1174 Refactored roles
  CMakeLists.txt
  include/roboteam_ai/stp/roles/Attacker.h
  include/roboteam_ai/stp/roles/BallAvoider.h
  include/roboteam_ai/stp/roles/BallGetter.h
  include/roboteam_ai/stp/roles/BallPlacer.h
  include/roboteam_ai/stp/roles/BallReflector.h
  include/roboteam_ai/stp/roles/Defender.h
  include/roboteam_ai/stp/roles/Formation.h
  include/roboteam_ai/stp/roles/Halt.h
  include/roboteam_ai/stp/roles/Harasser.h
  include/roboteam_ai/stp/roles/Keeper.h
  include/roboteam_ai/stp/roles/PassReceiver.h
  include/roboteam_ai/stp/roles/Passer.h
  include/roboteam_ai/stp/roles/PenaltyKeeper.h
  include/roboteam_ai/stp/roles/TestRole.h
  src/stp/Role.cpp
  src/stp/new_plays/Attack.cpp
  src/stp/new_plays/AttackingPass.cpp
  src/stp/new_plays/BallPlacementThem.cpp
  src/stp/new_plays/BallPlacementUs.cpp
  src/stp/new_plays/DefendPass.cpp
  src/stp/new_plays/DefendShot.cpp
  src/stp/new_plays/DefensiveFormation.cpp
  src/stp/new_plays/FreeKickThem.cpp
  src/stp/new_plays/GenericPass.cpp
  src/stp/new_plays/GetBallPossession.cpp
  src/stp/new_plays/GetBallRisky.cpp
  src/stp/new_plays/Halt.cpp
  src/stp/new_plays/KickOffThem.cpp
  src/stp/new_plays/KickOffThemPrepare.cpp
  src/stp/new_plays/KickOffUs.cpp
  src/stp/new_plays/KickOffUsPrepare.cpp
  src/stp/new_plays/PenaltyThem.cpp
  src/stp/new_plays/PenaltyThemPrepare.cpp
  src/stp/new_plays/PenaltyUs.cpp
  src/stp/new_plays/PenaltyUsPrepare.cpp
  src/stp/new_plays/ReflectKick.cpp
  src/stp/new_plays/TestPlay.cpp
  src/stp/new_plays/TimeOut.cpp
  src/stp/new_roles/BallAvoider.cpp
  src/stp/new_roles/Halt.cpp
  src/stp/roles/Attacker.cpp
  src/stp/roles/BallAvoider.cpp
  src/stp/roles/BallGetter.cpp
  src/stp/roles/BallPlacer.cpp
  src/stp/roles/BallReflector.cpp
  src/stp/roles/Defender.cpp
  src/stp/roles/Formation.cpp
  src/stp/roles/Halt.cpp
  src/stp/roles/Harasser.cpp
  src/stp/roles/Keeper.cpp
  src/stp/roles/PassReceiver.cpp
  src/stp/roles/Passer.cpp
  src/stp/roles/PenaltyKeeper.cpp
  src/stp/roles/TestRole.cpp
Labels: Role
