Repository RoboTeamTwente/roboteam_ai, pull requests merged in 2020-05, with the labels that each got.

#1061 Stp attack play
  src/stp/new_plays/Attack.cpp
Labels: Play

#1063 Stp kick off prepare
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/KickOffThemPrepare.h
  include/roboteam_ai/stp/new_plays/KickOffUsPrepare.h
  src/ApplicationManager.cpp
  src/stp/new_plays/KickOffThemPrepare.cpp
  src/stp/new_plays/KickOffUsPrepare.cpp
Labels: Play

#1066 Penalty play
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/PenaltyThem.h
  include/roboteam_ai/stp/new_plays/PenaltyUs.h
  include/roboteam_ai/stp/new_roles/PenaltyKeeper.h
  src/ApplicationManager.cpp
  src/stp/new_plays/PenaltyThem.cpp
  src/stp/new_plays/PenaltyUs.cpp
  src/stp/new_roles/PenaltyKeeper.cpp
Labels: Play

#1069 Kick Off plays
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/KickOffThem.h
  include/roboteam_ai/stp/new_plays/KickOffUs.h
  src/stp/new_plays/KickOffThem.cpp
  src/stp/new_plays/KickOffUs.cpp
Labels: Play

#1067 Penalty Prepare plays
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/PenaltyThemPrepare.h
  include/roboteam_ai/stp/new_plays/PenaltyUsPrepare.h
  src/ApplicationManager.cpp
  src/stp/new_plays/PenaltyThemPrepare.cpp
  src/stp/new_plays/PenaltyUsPrepare.cpp
Labels: Play

#1068 Stp time out play
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/TimeOut.h
  src/ApplicationManager.cpp
  src/stp/new_plays/TimeOut.cpp
Labels: Play

#1078 Stp defend play
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/BallCloseToThemInvariant.h
  include/roboteam_ai/stp/new_plays/Defend.h
  src/stp/invariants/BallCloseToThemInvariant.cpp
  src/stp/new_plays/Defend.cpp
  src/stp/new_tactics/BlockRobot.cpp
Labels: Play

#1077 Plays refactor
  include/roboteam_ai/stp/Play.hpp
  src/ApplicationManager.cpp
  src/stp/Play.cpp
  src/stp/new_plays/AggressiveFormation.cpp
  src/stp/new_plays/Attack.cpp
  src/stp/new_plays/BallPlacement.cpp
  src/stp/new_plays/BallPlacementThem.cpp
  src/stp/new_plays/BallPlacementUs.cpp
  src/stp/new_plays/Defend.cpp
  src/stp/new_plays/DefensiveFormation.cpp
  src/stp/new_plays/Halt.cpp
  src/stp/new_plays/KickOffThem.cpp
  src/stp/new_plays/KickOffThemPrepare.cpp
  src/stp/new_plays/KickOffUs.cpp
  src/stp/new_plays/KickOffUsPrepare.cpp
  src/stp/new_plays/Pass.cpp
  src/stp/new_plays/PenaltyThem.cpp
  src/stp/new_plays/PenaltyThemPrepare.cpp
  src/stp/new_plays/PenaltyUs.cpp
  src/stp/new_plays/PenaltyUsPrepare.cpp
  src/stp/new_plays/TestPlay.cpp
  src/stp/new_plays/TimeOut.cpp
Labels: Ready for review

#1086 Resetting all roles when re-dealing roles
  include/roboteam_ai/stp/Role.hpp
  src/stp/Play.cpp
  src/stp/Role.cpp
Labels: Ready for review, bug

#1096 Feature/ball placement improvements
  src/stp/new_plays/BallPlacementThem.cpp
  src/stp/new_plays/BallPlacementUs.cpp
  src/stp/new_roles/BallPlacer.cpp
  src/stp/new_tactics/AvoidBall.cpp
  src/stp/new_tactics/DriveWithBall.cpp
Labels: Play

#1098 Goal vision from ball invariant
  CMakeLists.txt
  include/roboteam_ai/stp/invariants/GoalVisionFromBallInvariant.h
  src/stp/invariants/GoalVisionFromBallInvariant.cpp
  src/stp/new_plays/Attack.cpp
Labels: Invariant

#1113 Added virtual destructor to Role base class
  include/roboteam_ai/stp/Role.hpp
Labels: bug

#1120 Update world every tick
  src/ApplicationManager.cpp
Labels: bug

#1116 Feature/risky get ball
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/GetBallRisky.h
  src/ApplicationManager.cpp
  src/stp/new_plays/GetBallRisky.cpp
Labels: Play, Work in progress

#1127 General Pass
  CMakeLists.txt
  include/roboteam_ai/stp/new_plays/GenericPass.h
  src/ApplicationManager.cpp
  src/stp/new_plays/GenericPass.cpp
  test/WorldTests/RobotTests.cpp
Labels: Play
